Power Automate/definition.json
{"name":"a1d0a71f-282e-45ee-b07b-96a9e12bc378","id":"/providers/Microsoft.Flow/flows/a1d0a71f-282e-45ee-b07b-96a9e12bc378","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Generar Word desde tabla de Excel_v2","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f40781ca-5f5d-40db-8415-c44abbd48f48","type":"User","tenantId":"7d2c7ed8-e219-417f-93fc-52ccbf38ef6d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-04T01:55:11.7056664Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"1f9e484e-3c93-40d2-a5dd-15a9cfaec4f1"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table_tarjetones":{"runAfter":{},"metadata":{"01AQOPV24IBEFCMMOFJ5G2CSYBU6ACQN4U":"/Power Automate/Word templates/Listado de candidatos curules.xlsx","operationMetadataId":"9ea2a4ef-c029-4919-b4b5-458e039f7d85","tableId":"{47E1AF11-9AB7-4688-A388-AA16AF472761}","01AQOPV2ZHHWLLEYBJZFCII2SAZSPATFLH":"/Power Automate/Word templates/Listado de candidatos curules.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"sites/1hgxp0.sharepoint.com,4e8aab77-c3b6-4aee-81bd-295026285050,28538023-6e9e-4223-9024-2515f1a6d585","drive":"b!d6uKTrbD7kqBvSlQJihQUCOAUyiebiNCkCQlFfGm1YUMphH7Qki7Q4bC2UDbKmiB","file":"01AQOPV2ZHHWLLEYBJZFCII2SAZSPATFLH","table":"{47E1AF11-9AB7-4688-A388-AA16AF472761}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_rows_present_in_a_table_candidatos":{"runAfter":{"List_rows_present_in_a_table_tarjetones":["Succeeded"]},"metadata":{"01AQOPV24IBEFCMMOFJ5G2CSYBU6ACQN4U":"/Power Automate/Word templates/Listado de candidatos curules.xlsx","operationMetadataId":"c1ec33d8-3d19-4e44-a5f7-d4ccb346c5a3","tableId":"{E4BBE2BF-4D11-41A7-917E-59DC18F9C70B}","01AQOPV2ZHHWLLEYBJZFCII2SAZSPATFLH":"/Power Automate/Word templates/Listado de candidatos curules.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"sites/1hgxp0.sharepoint.com,4e8aab77-c3b6-4aee-81bd-295026285050,28538023-6e9e-4223-9024-2515f1a6d585","drive":"b!d6uKTrbD7kqBvSlQJihQUCOAUyiebiNCkCQlFfGm1YUMphH7Qki7Q4bC2UDbKmiB","file":"01AQOPV2ZHHWLLEYBJZFCII2SAZSPATFLH","table":"{E4BBE2BF-4D11-41A7-917E-59DC18F9C70B}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_tarjeton":{"foreach":"@outputs('List_rows_present_in_a_table_tarjetones')?['body/value']","actions":{"Filter_array":{"runAfter":{},"metadata":{"operationMetadataId":"733c41d1-9da9-4fa7-9dd2-586bcc4605e5"},"type":"Query","inputs":{"from":"@outputs('List_rows_present_in_a_table_candidatos')?['body/value']","where":"@equals(item()?['Llave'], items('Apply_to_each_tarjeton')?['Llave'])"}},"Select":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"60e47e3b-1890-4a8a-a913-4dcb59813ab5"},"type":"Select","inputs":{"from":"@body('Filter_array')","select":{"curul":"@item()?['Curul a la que aspira']","nombrecandidato1":"@item()?['Nombre 1']","nombrecandidato2":"@item()?['Nombre 2']"}}},"Populate_a_Microsoft_Word_template":{"runAfter":{"Select":["Succeeded"]},"metadata":{"01AQOPV2ZNKHONSEEIHVFJHS3IPD2SQ5K4":"/Power Automate/Word templates/Plantillas/Plantilla 7 - copia.docx","operationMetadataId":"87b29a41-b154-4037-b980-549e94bc1be6","01AQOPV227IGRCZLEYSNHKAQESMKE6VJLE":"/Power Automate/Word templates/Plantillas/Plantilla 9_a.docx","01AQOPV24QFZ3U2SSFJNC36RYABVOINJGO":"/Power Automate/Word templates/Plantillas/Plantilla 11.docx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness","connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem"},"parameters":{"source":"sites/1hgxp0.sharepoint.com,4e8aab77-c3b6-4aee-81bd-295026285050,28538023-6e9e-4223-9024-2515f1a6d585","drive":"b!d6uKTrbD7kqBvSlQJihQUCOAUyiebiNCkCQlFfGm1YUMphH7Qki7Q4bC2UDbKmiB","file":"01AQOPV24QFZ3U2SSFJNC36RYABVOINJGO","dynamicFileSchema/89748314":"@body('Select')","dynamicFileSchema/682941331":"@items('Apply_to_each_tarjeton')?['Título']","dynamicFileSchema/1648167186":"@items('Apply_to_each_tarjeton')?['Comuna']","dynamicFileSchema/2032447942":"@items('Apply_to_each_tarjeton')?['Tarjetón']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file":{"runAfter":{"Populate_a_Microsoft_Word_template":["Succeeded"]},"metadata":{"operationMetadataId":"61cedd52-ef48-486f-bd71-0addf9a19515"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://1hgxp0.sharepoint.com/sites/PowerUpprogram","folderPath":"/Shared Documents/Power Automate/Word templates/Tarjetones","name":"Comuna @{items('Apply_to_each_tarjeton')?['Comuna']} - @{items('Apply_to_each_tarjeton')?['Tarjetón']}.docx","body":"@body('Populate_a_Microsoft_Word_template')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"List_rows_present_in_a_table_candidatos":["Succeeded"]},"metadata":{"operationMetadataId":"49d8c9db-ffe5-4c24-9f20-9ab65b95fec3"},"type":"Foreach"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"7116ef21311d490fae1f51b53633597e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_wordonlinebusiness":{"connectionName":"shared-wordonlinebus-7f8d43a3-06da-4ced-bb6a-5ad98339e6b3","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"3a7cb92c967549feae6df6ea2dace7b8","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}